[
  {
    "ParameterKey": "JumpServerAmi", 
    "ParameterValue": "{{ jump_server_ami }}" 
  },
  {
    "ParameterKey": "Subnet", 
    "ParameterValue": "{{ PrivateSubnetIds }}" 
  },
  {
    "ParameterKey": "JumpServerEC2InstanceType", 
    "ParameterValue": "{{ jump_server_ec2_instance_type }}" 
  },
  {
    "ParameterKey": "SshKeyPair", 
    "ParameterValue": "{{ ssh_key_pair_name }}" 
  }
]