# Definitely you don't want your undies with holes hanging out there in public!

# My git updates bash script..
run-git.sh

# Theory
theory*

# Copy
copy-*

# Candles
files/

# bastion
bastion/.terraform/
bastion/.terraform.lock.hcl
bastion/variables.tf

# infra-build
aws-infra-build/.terraform/
aws-infra-build/.terraform.lock.hcl
