{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": "*",
      "Action": [
        "execute-api:Invoke"
      ],
      "Resource": [
        "arn:aws:execute-api:*:*:${acc_id}/*"
      ],
      "Condition": {
        "NotIpAddress": {
          "aws:VpcSourceIp": ${jsonencode([for ip in ip_addrs: "${split(":",ip)[0]}"])}
        }
      }
    }
  ]
}
