[
  {
    "ParameterKey": "InfrastructureName", 
    "ParameterValue": "{{ InfrastructureName }}" 
  },
  {
    "ParameterKey": "RhcosAmi", 
    "ParameterValue": "{{ aws_rhos_ami }}" 
  },
  {
    "ParameterKey": "AllowedBootstrapSshCidr", 
    "ParameterValue": "0.0.0.0/0" 
  },
  {
    "ParameterKey": "PublicSubnet", 
    "ParameterValue": "{{ PublicSubnetIds }}" 
  },
  {
    "ParameterKey": "MasterSecurityGroupId", 
    "ParameterValue": "{{ MasterSecurityGroupId }}" 
  },
  {
    "ParameterKey": "VpcId", 
    "ParameterValue": "{{ VpcId }}" 
  },
  {
    "ParameterKey": "BootstrapIgnitionLocation", 
    "ParameterValue": "s3://{{ s3_ignition_file_store }}/bootstrap.ign" 
  },
  {
    "ParameterKey": "AutoRegisterELB", 
    "ParameterValue": "yes" 
  },
  {
    "ParameterKey": "RegisterNlbIpTargetsLambdaArn", 
    "ParameterValue": "{{ RegisterNlbIpTargetsLambda }}" 
  },
  {
    "ParameterKey": "ExternalApiTargetGroupArn", 
    "ParameterValue": "{{ ExternalApiTargetGroupArn }}" 
  },
  {
    "ParameterKey": "InternalApiTargetGroupArn", 
    "ParameterValue": "{{ InternalApiTargetGroupArn }}" 
  },
  {
    "ParameterKey": "InternalServiceTargetGroupArn", 
    "ParameterValue": "{{ InternalServiceTargetGroupArn }}" 
  }
]