[
  {
    "ParameterKey": "ClusterName", 
    "ParameterValue": "{{ cluster_name }}" 
  },
  {
    "ParameterKey": "InfrastructureName", 
    "ParameterValue": "{{ InfrastructureName }}" 
  },
  {
    "ParameterKey": "HostedZoneId", 
    "ParameterValue": "{{ HostedZoneId }}" 
  },
  {
    "ParameterKey": "HostedZoneName", 
    "ParameterValue": "{{ base_domain }}" 
  },
  {
    "ParameterKey": "PublicSubnets", 
    "ParameterValue": "{{ PublicSubnetIds }}" 
  },
  {
    "ParameterKey": "PrivateSubnets", 
    "ParameterValue": "{{ PrivateSubnetIds }}" 
  },
  {
    "ParameterKey": "VpcId", 
    "ParameterValue": "{{ VpcId }}" 
  }
]