[
    {
      "ParameterKey": "VpcCidr", 
      "ParameterValue": "{{ VpcCidr }}" 
    },
    {
      "ParameterKey": "InfrastructureName", 
      "ParameterValue": "{{ InfrastructureName }}" 
    },
    {
      "ParameterKey": "AvailabilityZoneCount", 
      "ParameterValue": "{{ AvailabilityZoneCount }}" 
    },
    {
      "ParameterKey": "SubnetBits", 
      "ParameterValue": "{{ SubnetBits }}" 
    }
]