[
  {
    "ParameterKey": "InfrastructureName", 
    "ParameterValue": "{{ InfrastructureName }}" 
  },
  {
    "ParameterKey": "RhcosAmi", 
    "ParameterValue": "{{ aws_rhos_ami }}" 
  },
  {
    "ParameterKey": "Subnet", 
    "ParameterValue": "{{ PrivateSubnetIds }}" 
  },
  {
    "ParameterKey": "WorkerSecurityGroupId", 
    "ParameterValue": "{{ WorkerSecurityGroupId }}" 
  },
  {
    "ParameterKey": "IgnitionLocation", 
    "ParameterValue": "https://api-int.{{ cluster_name }}.{{ base_domain }}:22623/config/worker" 
  },
  {
    "ParameterKey": "CertificateAuthorities", 
    "ParameterValue": "{{ CertificateAuthorities }}" 
  },
  {
    "ParameterKey": "WorkerInstanceProfileName", 
    "ParameterValue": "{{ WorkerInstanceProfile }}" 
  },
  {
    "ParameterKey": "WorkerInstanceType", 
    "ParameterValue": "m4.large" 
  }
]