[
    {
      "ParameterKey": "InfrastructureName", 
      "ParameterValue": "{{ InfrastructureName }}" 
    },
    {
      "ParameterKey": "VpcCidr", 
      "ParameterValue": "{{ VpcCidr }}" 
    },
    {
      "ParameterKey": "PrivateSubnets", 
      "ParameterValue": "{{ PrivateSubnetIds }}" 
    },
    {
      "ParameterKey": "VpcId", 
      "ParameterValue": "{{ VpcId }}" 
    },
    {
      "ParameterKey": "ExtApiElbSecurityGroupId", 
      "ParameterValue": "{{ ExtApiElbSecurityGroupId }}" 
    },
    {
      "ParameterKey": "IntApiElbSecurityGroupId", 
      "ParameterValue": "{{ IntApiElbSecurityGroupId }}" 
    }
]